.wrapper {
    display: grid;
    width: 1280px;
    margin: 0 auto;

    grid-template-areas:
            "h h"
            "n c";

    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.wrapper_content {
    grid-area: c;
    background-color: aqua;
}
